<!--The content below is only a placeholder and can be replaced.-->
<app-header></app-header>
<div style="text-align:center; padding-top: 10px;">
  <h1>
    Les notes de mes cours {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

<app-newcomp>
</app-newcomp>




 <!--J'ai rajouté  ma balise de mon nouveau component directement sur la vue de mon app.component, si j'aurais mis directement dans mon index.html cela n'aurais pas fonctionner car le cheminement on passe par main.ts qui va charger le app.module qui va à son tour bootstrap ce qui se trouve à l'interieur, mais nous l'avons pas rajouté au bootstrap de app.module.ts-->
  <!--Mon nouveau component est reconnu car il est dans ma déclaration de app.module.ts-->
  

